img, canvas, label, h1, h2, h3, h4, h5, p, ul, li, ol, span, a, button, select, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

*{
    font-family: 'Folio', Arial, sans-serif;
    font-weight: normal;
}

img{
  width: 100%;
}

@font-face{
    font-family:'Avenir';
    src: local('Avenir'), url('fonts/AvenirNextLTPro-Regular.otf') format('truetype');
}

@font-face{
    font-family:'Avant';
    src: local('Avant'), url('fonts/ITC Avant Garde Gothic LT Bold.otf') format('truetype');
}

@font-face{
    font-family:'Futura';
    src: local('Futura'), url('fonts/Futura Std Medium.otf') format('truetype');
}

html, body{ width: 100%; height: 100%; margin: 0; padding: 0; font-family: 'Futura'}

/*************
    UNIVERSAL
*************/
.view{
    display: none;
    position: relative
    width: 100%;
    height: 100%;
    animation: fadeIn 300ms ease both;
    -webkit-animation: fadeIn 300ms ease both;
}

.page{
  display: none;
  width: 100%;
  animation: fadeIn 300ms ease both;
  -webkit-animation: fadeIn 300ms ease both;
  height: 100%;
}

.view.active-view, .page.active-page{ display: block; }
.active-tab{ color:#757575; border-bottom:3px solid #757575; }

.btn{
    font-family: 'Avant';
    text-transform: uppercase;
}



/*************
    HOME
*************/
#home, #login{
    background-color: #00a1e4;
    height: 100%;
}

#home header, #login header{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
}

    #home header #btnWrapper, #login header #btnWrapper{
        float: right;
        width: 50%;
        text-align: right;
        padding: 10px 15px 10px 10px;
    }

    #settingsBtn, #syncBtn, #logoutBtn{
        width: 50px;
        height: 50px;
        background-image: url(images/icons/settings.png);
        float: right;
        background-size: 85%;
        background-color: #fff;
        padding: 5px;
        border-radius: 100px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
        position: relative;
    }

    #syncBtn, #logoutBtn{
        clear: both;
        margin-top: 10px;
    }

    #syncBtn{
        background-image: url(images/icons/sync.png);
    }

    #logoutBtn{
        background-image: url(images/icons/logout.png);
        background-size: 58%;
    }

   /* #settingWrapper.has-loc:before{
        content: attr(data-loc);
        position: absolute;
        background-color: #fff;
        top: 25px;
        right: 55px;
        border-radius: 5px;
        padding: 5px 25px 5px 10px;
        z-index: -1;
        display: block !important;
    }*/

    #settingWrapper #locationName{
        position: absolute;
        background-color: #fff;
        top: 25px;
        right: 55px;
        border-radius: 5px;
        padding: 5px 25px 5px 10px;
        display: block !important;
    }

    #syncBtn:before{
        content: attr(data-rec);
        padding: 5px 15px 5px 10px;
        top: 15px;
        right: 53px;
        position: absolute;
        background-color: #fff;
        border-radius: 5px;
        z-index: -1;
        display: block !important;
    }


#home .container, #login .container{
    position: relative;
    padding: 60px 10px 0 10px;
    box-sizing: border-box;
    text-align: center;
}

    #home .logo, #login .logo{
        width: 40%;
        margin: 15% auto 0 auto;
    }

#home footer, #login footer{
    position: absolute;
    bottom: 30px;
    width: 100%;
}

    #home footer > div, #login footer > div{
        width: 100%;
        float: left;
        text-align: center;
        margin: auto;
    }

    #login footer > div{
        width: 100%;
    }

    #home footer > div > div, #login footer > div > div{
        background-color: #14284B;
        width: 30%;
        margin: auto;
        color: #fff;
        padding: 20px;
        border-radius: 5px;
    }

    #login footer > div > div{
        width: 30%;
    }


/*************
REDEEM
*************/
#redeem header, #earn header{
    background-color: #fff;
    height: 80px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #eee;
}

    #redeem header .logo, #earn header .logo{
        width: 150px;
        padding: 20px 10px;
        float: left;
    }

    #redeem .redeemBtn{
        float: right;
        width: 50%;
        text-align: right;
    }

    #redeem header .logoutBtn2, #earn header .logoutBtn2, #redeem header #redeemPts{
        padding: 10px;
        border: 1px solid #fff;
        float: right;
        width: auto;
        border-radius: 5px;
        text-transform: uppercase;
        color: #fff;
        margin: 19px 10px;
        background-color:#14284B; 
    }

#tabs{
    position: fixed;
    height: 60px;
}

#redeem #tabsWrapper{
    width: 100%;
    border-bottom: 1px solid #d6d3cd;
    z-index: 2;
    position: fixed;
    top: 258px;
}

    #redeem #tabsWrapper div{
        /*width: 49.93%;*/
        width: 100%;
        float: left;
        text-align: center;
        text-transform: uppercase;
        line-height: 50px;
        border-bottom: 1px solid #dddee0;
        /*background-color: #eff0f3;*/
        background-color: #14284B;
        color: #d1d1d2;
    }

    #redeem #tabsWrapper #campaignBtn{
        border-right: 1px solid #dddee0;
        border-top: 1px solid #d6d3cd;
    }

    #redeem #tabsWrapper #vouchersBtn{
        border-top: 1px solid #d6d3cd;
    }

#profile{
    position: fixed;
    padding-top: 60px;
}

#campaign .container,
#voucher .container,
#empty_state .container{
    padding: 310px 0 20px 0;
    box-sizing: border-box;
    height: 100%;
}

    #empty_state{
        overflow: hidden;
    }

    .emptyImg{
        width: 20%;
        margin: auto;
        padding: 10px;
    }

    .emptyDesc{
        text-align: center;
        font-family: 'Avant';
        letter-spacing: 1px;
        color: #888;
        margin: 10% 0;
        font-size: 23px;
    }

#redeem #redeemContent{
    position: fixed;
    top: 80px;
    width: 100%;
    overflow: auto;
    height: 178px;
    box-shadow: 0px 0px 0px #888;
    border-top: 1px solid #d6d3cd;
}


#campaign #profileWrapper{
    box-shadow: 0px 0px 10px #888;
    box-sizing: border-box;
    overflow: auto;
    margin: 1px 0 0 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    max-height: 170px;
    overflow: hidden;
}

    #profileWrapper #profileImage{
        background-color: #eff0f3;
        width: 30%;
        float: left;
        text-align: center;
        padding: 25px 10px 10px 10px;
        box-sizing: border-box;
    }

    #profileWrapper #image{
        width: 100px;
        height: 100px;
        margin: auto;
    }


    #profileWrapper #name{
        padding: 20px 0;
    }

    #profileDetails{
        margin-top: 1%;
        width: 70%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
    }

    #profileDetails ul{
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        padding: 15px;
    }

    #profileDetails #totals{
        border-bottom: 1px solid #000;
    }

    #profileDetails ul#details li{
        width: 25%;
        float: left;
    }

    #profileDetails ul#totals li{
        width: 50%;
        float: left;
    }

    #profileDetails ul li label{
        color: rgb(129, 129, 129);
        text-transform: uppercase;
        font-size: 10px;
    }

    #profileDetails ul#totals li div{
        font-size: 32px;
        margin-top: 5px;
    }

    #profileDetails ul#details li div{
        font-size: 14px;
        margin-top: 5px;
    }

#campaign #totalWrapper label{
    color: #d8d8d8;
    text-transform: uppercase;
}

#campaignList, #voucherList{
    clear: both;
    padding: 10px;
    overflow: auto;
    height: 100%;
}

#campaignList ul, #voucherList ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
}

    #campaignList ul li, #voucherList ul li{
        overflow: hidden;
        text-align: center;
        background-color: #eff0f3;
        padding: 10px;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #voucherList ul li{
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
    }

    #voucherList ul li div,
    #campaignList ul li div{
        pointer-events: none;
    }

    #campaignList ul li.frequency, #campaignList ul li.redeem {
        background-color: rgb(234, 94, 0);
        color: #fff;
    }

    #campaignList ul li.frequency #points, #campaignList ul li.redeem #points{
        color: #d4d0d0;
        border-right: 1px solid #fff;
    }

    #campaignList ul li.frequency #points span, #campaignList ul li.redeem #points span{
        color: #fff;
    }

    #campaignList ul li div{
        float: left;
    }

    #points{
        font-size: 10px;
        color: #8c8c8c;
        padding: 0 10px;
        border-right: 1px solid #000;
    }

    #points span{ 
        font-size: 20px;
        color: #000;
    }

    #title{
        padding: 0 10px;
        margin-top: 8px;
    }

    .voucherDesc{
        font-size: 12px;
        padding-top: 5px;
        box-sizing: border-box;
    }

/*************
EARN
*************/
#earn .container{
    padding: 70px 0 0 0;
    height: 85%;
    box-sizing: border-box;
}

#earn .container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

    #earn .container ul li{
      background-color: #14284B;
      background-size: 100% 100%;
      width: 90%;
      display: block;
      height: 100%;
      margin: auto;
      position: relative;
    }

    #earn .container ul li .name{
        text-align: center;
        position: absolute;
        top: 45%;
        width: 100%;
        font-size: 25px;
        color: #fff;
    }

    #earn .container ul li img{
      width: 100%;
      pointer-events: none;
    }

    #earn .container footer{
      position: absolute;
      bottom: 0;
    }

    #earn #earnBtn{
      width: 20%;
      margin: auto;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .swiper-container {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      z-index: 1;
      height: 100%;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #ff0000;
    }

    .swiper-container-horizontal > .swiper-pagination{
      bottom: 0;
    }

    #earn .container ul li .icon{
        width: 55%;
        margin: auto;
        width: 50%;
        margin: auto;
        position: absolute;
        top: 25%;
        left: 25%;
        text-align: center;
        pointer-events: none;
    }

    #earn ul li div{
        pointer-events: none;
    }

#earn footer{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
}

    #earn footer div{
        width: 20%;
        background-color: #FFDD00;
        color: #14284B;
        text-align: center;
        padding: 15px;
        border-radius: 5px;
    }

/*************
MODAL
*************/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 9999;
    overflow: auto;
}

.modal.active-modal{ display: block; }
.modalWrapper{
    position: absolute;
    left: 20%;
    top: 10%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    animation: zoomIn 400ms ease both;
    -webkit-animation: zoomIn 400ms ease both;
    width: 60%;
}

    .modalWrapper header p{
        margin: 0;
        background-color: #00a1e4;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0;
        color: #fff;
    }

    .modalWrapper .content{
        background-color: #fff;
        padding: 0 15%;
        text-align: center;
    }

    .content input{
        width: 80%;
        margin: 0 auto;
        border: 1px solid #888;
        clear: both;
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }

    .field{
        margin-top: 10%;
    }

    .field p{
        margin: 10px 0;
        text-align: center;
    }

    #withPoints footer, #prompt footer, #choice footer,
    #input footer, #summary footer{
        margin-top: 8%;
        width: 100%;
        background-color: #14284B;
        color: #fff;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    #choice footer, #input footer{
        margin-top: 5%;
    }

    #choice footer > div, #summary footer > div{
        width: 50%;
        float: left;
    }

#modalContent{
    position: relative;
}

    #modalContent #close{
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
/*        background-color: #888;*/
        font-family: 'Avant';
    }

#withPoints, #prompt, #choice, #input, #summary{ display: none; }

#modal.withPoints #withPoints,
#modal.prompt #prompt,
#modal.choice #choice,
#modal.input #input,
#modal.summary #summary{ display: block; }

#modal #prompt, #modal #choice,
#modal #input{
    padding: 5% 0 0 0;
    text-align: center;
}

#modal #input{
    padding: 8% 0 0 0;
}

    #prompt .icon{
        width: 15%;
        margin: auto;
    }

    #prompt h3{
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #prompt #value{
        font-size: 25px;
    }

    .prompt #close, .choice #close{
        display: none;
    }

    #prompt footer{
        margin: 0;
    }

    #choice .msg{
        width: 50%;
        margin: auto;
        padding: 10% 0 5% 0;
        line-height: 1.5;
        text-align: center;
    }

    #prompt .msg{
        padding: 10% 0;
    }

#modal.choice .modalWrapper, #modal.input .modalWrapper,
#modal.prompt .modalWrapper{
    position: absolute;
    left: 26%;
    top: 19%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    animation: zoomIn 400ms ease both;
    -webkit-animation: zoomIn 400ms ease both;
    width: 50%;
}

#modal.input .modalWrapper{
    top: 25%;
}

    #input input{
        width: 60%;
        padding: 10px 0;
        border: 1px solid #888;
        margin: 5% 0;
        font-size: 20px;
        text-align: center;
    }

#summary header{
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

    #summary header p{
        line-height: 50px;
        text-transform: uppercase;
        padding: 0;
    }

#summary .content{
    padding: 70px 10px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

    #summary #transactionID{
        text-align: left;
    }

    #summary #transactionID input{
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }

#summary #earnListWrapper{
    overflow: hidden;
    clear: both;
    padding: 10px 0 0 0;
}

    #summary .label{
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #14284b;
        overflow: hidden;
        color: #fff;
        padding: 15px 0;
    }

    #summary .label li{
        float: left;
        width: 50%;
    }

    #summary .earnList{
        height: 150px;
        overflow: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    #summary .earnList li{
        float: left;
        width: 50%;
    }

    #summary .earnList li:nth-child(odd){
        text-align: left;
    }

#summary footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#modal.summary .modalWrapper{
    top: 14%;
}


/*************
ANIMATION
*************/
@keyframes fadeIn{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@-webkit-keyframes fadeIn{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
    -webkit-transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
    -webkit-transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}







